<h2>Account Overview</h2>
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 well">
    <div class="row">
        <form name="UserDetails" class="form-horizontal col-sm-12">
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    <input type="text" ng-disabled="true" class="form-control" value="{{user[consoleConstants.external.EMAIL]}}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" ng-disabled="true" class="form-control" value="{{ user[consoleConstants.external.FIRST_NAME] }}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" ng-disabled="true" class="form-control" value="{{ user[consoleConstants.external.LAST_NAME]}}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Created:</label>
                <div class="col-sm-10">
                    <input type="text" ng-disabled="true" class="form-control" value="{{ (user[consoleConstants.external.CREATION_DATE] * 1000) | date:'mediumDate'}}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Developer Token:</label>
                <div class="col-sm-10">
                    <cb-copy target="{{token}}"></cb-copy>
                </div>
            </div>
            <div class="form-group" ng-if='isSaas'>
                <label class="col-sm-2 control-label">Current Plan:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" ng-disabled="true" class="form-control" value="{{billingObj.plan}}" />
                        <span class="input-group-addon btn" ng-if="billingObj.plan === saasPlans.FREE.name" ng-click="upgradeToFlex()">Upgrade to Flex <span class="glyphicon glyphicon-level-up"></span></span>
                        <span class="input-group-addon btn" ng-if="billingObj.plan !== saasPlans.FREE.name" ng-click="revertToFree()">Revert to Free <span class="glyphicon glyphicon-repeat"></span></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label class="col-sm-2 control-label">Modify:</label>
                <div class="col-sm-10">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <button ng-click="changePassword()" class="form-control btn btn-default">Change Password</button>
                            <span class="input-group-addon btn" ng-click="changePassword()">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <button ng-click="deleteAccount()" class="form-control btn btn-default">Delete Account</button>
                            <span class="input-group-addon btn" ng-click="deleteAccount()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-if="billingObj.plan !== saasPlans.FREE.name">
                        <div class="input-group">
                            <button ng-click="updateCard()" class="form-control btn btn-default">Update Payment</button>
                            <span class="input-group-addon btn" ng-click="updateCard()">
                                <span class="glyphicon glyphicon-credit-card"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--  <div class="form-group" ng-if="isGithubAccountLinked">
                <label class="col-sm-2 control-label">Github Username:</label>
                <div class="col-sm-10">
                    <input type="text" ng-disabled="true" class="form-control" value="{{gitUsername}}" />
                </div>
            </div>
             <div class="form-group" ng-if="isGithubAccountLinked">
                <label class="col-sm-2 control-label">Github Auth Token:</label>
                <div class="col-sm-10">
                    <cb-copy target="{{githubToken}}"></cb-copy>
                </div>
                <div class="col-sm-4">
                        <div class="input-group">
                            <button ng-click="revokeGithubAuthorization()" class="form-control btn btn-default">Revoke Authorization</button>
                            <span class="input-group-addon btn" ng-click="revokeGithubAuthorization()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </span>
                        </div>
                    </div>
            </div> -->
           
        </form>
    </div>
</div>
<div ng-if="isGithubAccountLinked" ng-style='{clear:both}'>
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 well" >            
<h3>Linked Accounts:</h3>


<div class="row">
        <form name="UserLinkedAccounts" class="form-horizontal col-sm-12"> 
             <div class="form-group" >
                <label class="col-sm-2 control-label">Github Username:</label>
                <div class="col-sm-10">
                    <input type="text" ng-disabled="true" class="form-control" value="{{gitUsername}}" />
                </div>
            </div>
             <div class="form-group" ng-if="isGithubAccountLinked">
                <label class="col-sm-2 control-label">Github Auth Token:</label>
                <div class="col-sm-10">
                    <cb-copy target="{{githubToken}}"></cb-copy>
                </div>
                <div class="col-sm-10">
                        <div class="input-group">
                            <button ng-click="revokeGithubAuthorization()" class="form-control btn btn-default">Revoke Authorization</button>
                            <span class="input-group-addon btn" ng-click="revokeGithubAuthorization()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </span>
                        </div>
                    </div>
            </div>
           
        </form>
    </div>
</div>
</div>
<!--
            <div ng-click="changePlan()" id='changePlan'> Change Plan </div>
            <div><div class="acctDetailsLinks"><a>Change Password</a></div><div class="acctDetailsLinks"><a>Delete Account</a></div></div>


            <div>
                <button ng-if="billingObj.plan !== saasPlans.FREE.name" ng-click="updateCard()" class="btn btn-primary">
                    Update Card
                </button>
                <button ng-if="billingObj.plan === saasPlans.FREE.name" ng-click="upgradeToFlex()"
                        class="btn btn-primary">Upgrade to Flex
                </button> -->