<div ng-menu page="AccountSettings"></div>
<div class="container-fluid cb-page">
    <div>
        <pageslide ps-container="legacy-app" ng-init="panelOpen=false" ps-side="left" ps-open="panelOpen" class="cb-left-panel" ps-custom-height="inherit">
            <page-slide-close ng-click="panelOpen=false"></page-slide-close>
            <div>
                <uib-tabset vertical="true" type="pills">
                    <uib-tab-heading>
                        <span class="cb-left-panel-heading-text">Account Settings</span>
                    </uib-tab-heading>
                    <!--we set active="false" to avoid the first tab being selected by default-->
                    <li ui-sref-active="active" class="cb-left-panel-entry tab">
                        <a ui-sref="app.accountSettings.details">
                            <span class="cb-left-panel-text">
                                Details
                            </span>
                        </a>
                    </li>

                    <li ui-sref-active="active" class="cb-left-panel-entry tab">
                        <a ui-sref="app.accountSettings.usage">
                            <span class="cb-left-panel-text">
                                Usage
                            </span>
                        </a>
                    </li>

                    <li ui-sref-active="active" class="cb-left-panel-entry tab" ng-if="isSaas">
                        <a ui-sref="app.accountSettings.billing">
                            <span class="cb-left-panel-text">
                                Billing
                            </span>
                        </a>
                    </li>

                </uib-tabset>
            </div>
        </pageslide>
    </div>
    <div class="cb-info-bar">
        <span ng-click="panelOpen = !panelOpen" class="clickable feedback">
            <img src="img/sidebar-collectionsmenu.png" />
        </span>
        <div ui-view></div>
    </div>
</div>