<div>
    <div class="row" style="margin-top:20px">
        <div class="form-inline">

            <div class="col-md-6">
                <label>Month</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="MMMM/yyyy" ng-model="status.date"
                           is-open="status.opened"
                           datepicker-options="datepickerOptions" ng-click="openDatePicker()"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker()"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
            </div>
        </div>

    </div>

    <div id="blockDeveloperGrid">
        <div ui-grid="systemsGrid" ui-grid-resize-columns ui-grid-pagination
             class="gridStyle collection-grid"></div>
    </div>
</div>