<div ng-menu page="code" text-icon="{ }" add-fn="addFunction" system-refresh="refresh"></div>
<div class="container-fluid cb-page" id="cbPage">

    <div>
        <div pageslide ps-open="panelOpen" ps-side="left" class="cb-left-panel code" ps-container="legacy-app" ngBlur="panelOpen=false">
            <page-slide-close ng-click="panelOpen=false"></page-slide-close>


            <uib-accordion close-others="false" class="cb-panel-accordion">
                <uib-accordion-group is-open="listState.services.open">
                    <uib-accordion-heading>
                        <uib-tab-heading>
                            <span class="cb-left-panel-heading-text">Services
                                <i ng-class="{'glyphicon glyphicon-chevron-down': listState.services.open, 'glyphicon glyphicon-chevron-right': !listState.services.open}"></i>
                            </span>
                        </uib-tab-heading>
                    </uib-accordion-heading>
                    <div class="filter-container" ng-show="listState.services.list.list.length">
                        <input class="form-control" type="text" ng-model="listState.services.filterText" placeholder="Filter list" />
                    </div>
                    <uib-tabset vertical="true" type="pills" active="listState.services.list.getIndexByName($state.params.name)">
                        <uib-tab class="cb-left-panel-entry" ng-repeat="service in listState.services.list.list track by $index" ng-show="listState.services.list.list.length && isInFilteredList(service.name, listState.services.filterText)"
                            ui-sref="app.system.code.services({name: service.name})">
                            <uib-tab-heading>
                                <span class="cb-left-panel-text">{{service.name}}</span>
                                <span class="pull-right cb-left-panel-arrow" ng-if='$index === listState.services.list.getIndexByName($state.params.name)'>
                                    <i class='glyphicon glyphicon-play'></i>
                                </span>
                            </uib-tab-heading>

                        </uib-tab>

                        <uib-tab class="cb-left-panel-entry" ng-if="!listState.services.list.list.length">
                            <uib-tab-heading>
                                <span class="cb-left-panel-text">No Services</span>
                            </uib-tab-heading>
                        </uib-tab>

                    </uib-tabset>
                </uib-accordion-group>

                <uib-accordion-group is-open="listState.libraries.open">
                    <uib-accordion-heading>
                        <uib-tab-heading>
                            <span class="cb-left-panel-heading-text">Libraries
                                <i ng-class="{'glyphicon glyphicon-chevron-down': listState.libraries.open, 'glyphicon glyphicon-chevron-right': !listState.libraries.open}"></i>
                            </span>
                        </uib-tab-heading>
                    </uib-accordion-heading>
                    <div class="filter-container">
                        <input class="form-control" type="text" ng-model="listState.libraries.filterText" placeholder="Filter list" />
                    </div>
                    <uib-tabset vertical="true" type="pills" active="listState.libraries.list.getIndexByName($state.params.name)">
                        <uib-tab class="cb-left-panel-entry" ng-repeat="library in listState.libraries.list.list track by $index" ng-show="isInFilteredList(library.name, listState.libraries.filterText)"
                            ng-click="jumpToLibrary($index)">
                            <uib-tab-heading>
                                <span class="cb-left-panel-text">{{library.name}}</span>
                                <span class='pull-right' ng-if='$index === listState.libraries.list.getIndexByName($state.params.name)'>
                                    <i class='glyphicon glyphicon-play' style="color:white"></i>
                                </span>
                            </uib-tab-heading>
                        </uib-tab>
                    </uib-tabset>
                </uib-accordion-group>

                <uib-accordion-group is-open="listState.triggers.open">
                    <uib-accordion-heading>
                        <uib-tab-heading>
                            <span class="cb-left-panel-heading-text">Triggers
                                <i ng-class="{'glyphicon glyphicon-chevron-down': listState.triggers.open, 'glyphicon glyphicon-chevron-right': !listState.triggers.open}"></i>
                            </span>
                        </uib-tab-heading>
                    </uib-accordion-heading>
                    <div class="filter-container" ng-show="listState.triggers.list.list.length">
                        <input class="form-control" type="text" ng-model="listState.triggers.filterText" placeholder="Filter list" />
                    </div>
                    <uib-tabset vertical="true" type="pills" active="listState.triggers.list.getIndexByName($state.params.name)">

                        <uib-tab class="cb-left-panel-entry" ng-repeat="trigger in listState.triggers.list.list track by $index" ng-show="listState.triggers.list.list.length && isInFilteredList(trigger.name, listState.triggers.filterText)"
                            ui-sref="app.system.code.trigger({name: trigger.name})">
                            <uib-tab-heading>
                                <span class="cb-left-panel-text">{{trigger.name}}</span>
                                <span class='pull-right' ng-if='$index === listState.triggers.list.getIndexByName($state.params.name)'>
                                    <i class='glyphicon glyphicon-play' style="color:white"></i>
                                </span>
                            </uib-tab-heading>
                        </uib-tab>

                        <uib-tab class="cb-left-panel-entry" ng-if="!listState.triggers.list.list.length">
                            <uib-tab-heading>
                                <span class="cb-left-panel-text">No Triggers</span>
                            </uib-tab-heading>
                        </uib-tab>

                    </uib-tabset>
                </uib-accordion-group>

                <uib-accordion-group is-open="listState.timers.open">
                    <uib-accordion-heading>
                        <uib-tab-heading>
                            <span class="cb-left-panel-heading-text">Timers
                                <i ng-class="{'glyphicon glyphicon-chevron-down': listState.timers.open, 'glyphicon glyphicon-chevron-right': !listState.timers.open}"></i>
                            </span>
                        </uib-tab-heading>
                    </uib-accordion-heading>
                    <div class="filter-container" ng-show="listState.timers.list.list.length">
                        <input class="form-control" type="text" ng-model="listState.timers.filterText" placeholder="Filter list" />
                    </div>

                    <uib-tabset vertical="true" type="pills" active="listState.timers.list.getIndexByName($state.params.name)">
                        <uib-tab class="cb-left-panel-entry" ng-repeat="timer in listState.timers.list.list track by $index" ng-show="listState.timers.list.list.length && isInFilteredList(timer.name, listState.timers.filterText)"
                            ui-sref="app.system.code.timer({name: timer.name})">
                            <uib-tab-heading>
                                <span class="cb-left-panel-text">{{timer.name}}</span>
                                <span class='pull-right' ng-if='$index === listState.timers.list.getIndexByName($state.params.name)'>
                                    <i class='glyphicon glyphicon-play' style="color:white"></i>
                                </span>
                            </uib-tab-heading>
                        </uib-tab>

                        <uib-tab class="cb-left-panel-entry" ng-if="!listState.timers.list.list.length">
                            <uib-tab-heading>
                                <span class="cb-left-panel-text">No Timers</span>
                            </uib-tab-heading>
                        </uib-tab>

                    </uib-tabset>
                </uib-accordion-group>
            </uib-accordion>

        </div>
        <div ng-hide="$state.is('app.system.code')">
            <div class="cb-info-bar">
                <span>
                    <span ng-click="panelOpen = !panelOpen" class="clickable feedback">
                        <img src="img/sidebar-collectionsmenu.png" />
                    </span>
                </span>
            </div>
            <div ui-view></div>
        </div>

        <div ng-show="$state.is('app.system.code')" class="row">

            <div class="col-lg-3 col-md-6">

                <div class="row">
                    <h3>Services</h3>
                </div>
                <table class="table table-striped folderBox">
                    <thead class="text-center">
                        <tr>
                            <th>Name</th>
                            <th>Settings</th>
                            <th>
                                <div class="input-group-btn">
                                    <button title="Export" class="btn btn-default pull-right" ng-click="exportServices()">
                                        <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key,service) in listState.services.list.list">
                            <td>
                                <a ui-sref="app.system.code.services({name: service.name})" class="clickable">{{service.name}}</a>
                            </td>
                            <td>
                                <span ng-click="settingsModal({'code':service})" class="clickable glyphicon glyphicon-wrench"></span>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-3 col-md-6">
                <h3>Libraries</h3>
                <table class="table table-striped folderBox">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Settings</th>
                            <th>
                                <div class="input-group-btn">
                                    <button title="Export" class="btn btn-default pull-right" ng-click="exportLibraries()">
                                        <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key,library) in listState.libraries.list.list" ng-if="!library.isGlobal">
                            <td>
                                <a ui-sref="app.system.code.libraries({name: library.name})" class="clickable">{{library.name}}</a>
                            </td>
                            <td>
                                <span ng-click="settingsModal({'code':library})" class="clickable glyphicon glyphicon-wrench"></span>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-3 col-md-6">
                <h3>Triggers</h3>
                <table class="table table-striped folderBox">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Settings</th>
                            <th>
                                <div class="input-group-btn">
                                    <button title="Export" class="btn btn-default pull-right" ng-click="exportTriggers()">
                                        <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key,trigger) in listState.triggers.list.list">
                            <td>
                                <a ui-sref="app.system.code.trigger({name: trigger.name})" class="clickable">{{trigger.name}}</a>
                            </td>
                            <td>
                                <span ng-if="!isEdge" ng-click="triggerSettingsModal(trigger)" class="clickable glyphicon glyphicon-wrench"></span>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-3 col-md-6">
                <h3>Timers</h3>
                <table class="table table-striped folderBox">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Settings</th>
                            <th>
                                <div class="input-group-btn">
                                    <button title="Export" class="btn btn-default pull-right" ng-click="exportTimers()">
                                        <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key,timer) in listState.timers.list.list">
                            <td>
                                <a ui-sref="app.system.code.timer({name: timer.name})" class="clickable">{{timer.name}}</a>
                            </td>
                            <td>
                                <span ng-if="!isEdge" ng-click="timerSettingsModal(timer)" class="clickable glyphicon glyphicon-wrench"></span>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>