<div class="row" style="margin-bottom: 10px;">
    <div class="col-sm-12">

        <span class="pull-right">
            <div class="btn-group square">
                <button class="btn btn-default" title="Refresh" ng-click="fetch();refresh()"><span class="glyphicon glyphicon-refresh"
                                                                                           aria-hidden="true"></span></button>
                <button class="btn btn-default" title="Settings" ng-click="settingsModal({code: curCode})"><span
                        class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
                <button class="btn btn-default" title="Export" ng-click="export()"><span class="glyphicon glyphicon-export"
                                                                                         aria-hidden="true"></span></button>
                <button class="btn btn-default" ng-if="curCode.isService" title="History" ng-click="codeHistory()"><span
                        class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></button>
                <button class="btn btn-default" ng-click="openExample()">Example</button>
            </div>
        </span>

    </div>

</div>

<div class="row well" style="height: 9vh; min-height: 65px;">
    <div class="col-md-3 col-sm-12">
        <h3 class="text-left" style="margin-top:0;">Code Name: {{curCode.name}}</h3>
    </div>

    <div class="btn-group square pull-right hidden-sm hidden-xs">
        <span style="display: block; margin-top: -13px;">Dependencies</span>
        <button class="btn btn-default pull-right" ng-click="jumpToSetting('requires')">
            <span ng-show="curCode.dependenciesArray.length > 0" class="glyphicon glyphicon-cog"></span>
            <span ng-show="curCode.dependenciesArray.length == 0" class="glyphicon glyphicon-plus"></span>
        </button>
        <button ng-repeat="dependency in curCode.dependenciesArray | limitTo:dependencyDisplayLimit"
                ng-click="jumpToDependency(dependency)" class="btn btn-default pull-right">{{dependency}}
        </button>
        <button ng-show="curCode.dependenciesArray.length > dependencyDisplayLimit" class="btn btn-default pull-right"
                ng-click="jumpToSetting('requires')">{{curCode.dependenciesArray.length - dependencyDisplayLimit}} more
            ...
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="codeBody" style="height: 60vh; margin-bottom: 100px;"
             ui-ace="{useWrapMode : false, mode: 'javascript', onChange: codeChange}" ng-model="curCode.code"></div>
    </div>
</div>


<nav class="navbar navbar-inverse cb-navbar cb-footer cb-header">
    <div class="container-fluid">

        <ul class="nav navbar-nav navbar-right">
            <li><a ng-if="curCode.isService" ng-click="testParameters()">Test Parameters</a></li>
            <li><a ng-show="!running && curCode.isService" ng-disabled="!curCode.name" ng-click="saveThenRunFunction()">Save
                and Test</a></li>
            <li><a ng-show="running" ng-click="cancelProcess()">Cancel Process</a></li>
            <li><a ng-disabled="!curCode.name || !updated" ng-click="saveFunction()">Save</a></li>
        </ul>

    </div>
</nav>