<div id="loadBlocked">

    <div class="col-lg-12">

        <div class="row">

            <div class="col-sm-6">
                <h3 class="text-left">{{currentCollection[consoleConstants.external.DATA.NAME]}}</h3>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <span class="collection-id-holder">
                    <cb-copy prefix="ID:" target="{{currentCollection[consoleConstants.external.DATA.COLLECTION_ID]}}"></cb-copy>
                </span>
            </div>
        </div>

        <hr/>

        <div class="row">

            <div class="col-sm-6 collections-controls">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button title="Add Column" class="btn btn-default" ng-click="addColumn()" ng-disabled="currentCollection[consoleConstants.external.DATA.IS_CONNECTION]"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Column</button>
                        <button title="Add Row" class="btn btn-default" ng-click="addRow()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Row</button>
                        <button title="Delete Row" class="btn btn-default" ng-click="deleteRow()"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Row</button>
                        <button title="Delete All" class="btn btn-default" ng-click="deleteAll()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete All</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 text-right">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button title="Show All Columns" class="btn btn-default" ng-click="showAllColumns()"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                        <button title="Settings" class="btn btn-default" ng-click="settingsModal()"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
                        <button title="Filter" class="btn btn-default" ng-click="filter()"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></button>
                        <button title="Export" class="btn btn-default" ng-click="export()"><span class="glyphicon glyphicon-export" aria-hidden="true"></span></button>
                        <button title="Refresh" class="btn btn-default" ng-click="refreshTable()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div ui-grid="collectionGridOptions" ui-grid-pagination ui-grid-resize-columns ui-grid-edit
                 ui-grid-selection id="blockGrid" class="gridStyle collection-grid"></div>
        </div>

    </div>
</div>