<div ng-menu icon="glyphicon-folder-open" add-fn="newSystem" system-refresh="getSystems"></div>
<div class="container-fluid cb-page">
    <div class="row">
        <splash-box name="systems" icon="img/open-folder.png"
                    ng-if="systems.isFinishedFetching && systems.list.length === 0">
            <h4 style="text-align:center">
                <a ng-click="newSystem()"><b class="clickable">Create</b></a> a new system
                <!--  or <a ng-click="importSystem()"><b>import</b></a> an existing system. -->
            </h4>
            <div style="text-align:center">
                <h2>Check out our tutorials</h2>
                <div class="container">
                    <a href="https://docs.clearblade.com/v/3/4-developer_reference/ios/Tutorial/" target="_blank"
                       class="col-sm-4 btn">
                        <h4>iOS</h4>
                        <img src="img/apple.png"/>
                    </a>
                    <a href="https://docs.clearblade.com/v/3/4-developer_reference/android/Tutorial/" target="_blank"
                       class="col-sm-4 btn">
                        <h4>Android</h4>
                        <img src="img/android-logo.png"/>
                    </a>
                    <a href="https://docs.clearblade.com/v/3/4-developer_reference/javascript/Tutorial/" target="_blank"
                       class="col-sm-4 btn">
                        <h4>Javascript</h4>
                        <img src="img/javascript.png"/>
                    </a>
                </div>
            </div>
        </splash-box>
        <div class="col-sm-12" ng-if="systems.list.length > 0">
            <div id="systemsLoading">
                <h4 style="display:inline-block">Systems</h4>
                <span class="pull-right">
                    <button title="Refresh Systems" class="btn btn-default" ng-click="getSystems()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                    <!-- <img style="margin-left:-10px" ng-click="importSystem()" class="collection-ctrl clickable" src="img/import.png"/> -->
                </span>
            </div>
            <div>
                <system ng-repeat="system in systems.list" system="system" select-system="selectSystem"
                        select-edge="selectEdge" refresh="getSystems" new-edge-callback="newSystem"
                        console-constants="consoleConstants" export-system="exportSystem"></system>
            </div>
            <div>
                <div>
                    <div><h4>System Metrics</h4></div>
                </div>
                <div>
                    <div class="col-sm-4">
                        <div class="dash-system platform-metrics">
                            <div class="pull-right" id="requestTotal" style="margin-top:8px"><b>{{requestTotalLabel}}</b>
                            </div>
                            <div>
                                <div>
                                    <img src="img/request.png" style="display:inline;position:relative"/><h5
                                        class="dash-system-metric-header" style="font-weight:lighter"><b>Requests</b></h5>
                                </div>
                            </div>
                            <div>
                                <div style="max-height:250px" id="requestsChart"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="dash-system platform-metrics">
                            <div class="pull-right" id="storageTotal" style="margin-top:8px"><b>{{storageTotalLabel}}</b>
                            </div>
                            <div>
                                <div>
                                    <img src="img/storage.png" style="display:inline;position:relative"/><h5
                                        class="dash-system-metric-header"><b>Storage</b></h5>
                                </div>
                            </div>
                            <div>
                                <div style="max-height:250px" id="storageChart"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="dash-system platform-metrics">
                            <div class="pull-right" id="messagesTotal" style="margin-top:8px"><b>{{messagesTotalLabel}}</b>
                            </div>
                            <div>
                                <div>
                                    <img src="img/messages.png" style="display:inline;position:relative"/><h5
                                        class="dash-system-metric-header"><b>Messages Published</b></h5>
                                </div>
                            </div>
                            <div>
                                <div style="max-height:250px" id="messagesChart"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
