<div class="container-fluid" ng-controller='saasRegistrationCtrl'>
  <div class="col-sm-6">
    <h3>Register for the ClearBlade Platform</h3>
    <form name="saasRegistrationCtrl.registrationForm" autocomplete="off" class="form-horizontal">
      
      <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9"
               ng-class="{'has-error': (saasRegistrationCtrl.registrationForm.email.$error.required && !saasRegistrationCtrl.registrationForm.email.$pristine) || (saasRegistrationCtrl.registrationForm.email.$error.email && !saasRegistrationCtrl.registrationForm.email.$pristine)}">
            <input class="form-control" ng-model="user.reg.email" type="email" name="email" id="email"
                     placeholder='email'
                     required/>
            <span class="text-danger"
                  ng-show="saasRegistrationCtrl.registrationForm.email.$error.required && !saasRegistrationCtrl.registrationForm.email.$pristine">Required!</span>
            <span class="text-danger"
                  ng-show="saasRegistrationCtrl.registrationForm.email.$error.email && !saasRegistrationCtrl.registrationForm.email.$pristine">Invalid Email!</span>
          </div>
      </div>
      
      <div class="form-group">
          <label class="col-sm-3 control-label">Password</label>
          <div class="col-sm-9" ng-class="{'has-error': saasRegistrationCtrl.registrationForm.pass1.$error.required && !saasRegistrationCtrl.registrationForm.pass1.$pristine}">
            <input class="form-control" data-ng-model='user.reg.password' type="password" name='pass1'
                   placeholder='password'
                   required/>
            <span class="text-danger"
                ng-show="saasRegistrationCtrl.registrationForm.pass1.$error.required && !saasRegistrationCtrl.registrationForm.pass1.$pristine">Required!</span>
          </div>
      </div>
            
      <div class="form-group">
          <label class="col-sm-3 control-label">Confirm Password</label>
          <div class="col-sm-9" ng-class="{'has-error': saasRegistrationCtrl.registrationForm.pass2.$error.passwordVerify && !saasRegistrationCtrl.registrationForm.pass1.$pristine}">
            <input class="form-control" ng-model='user.reg.password_verify' type="password" name='pass2'
                     placeholder='confirm password'
                     data-password-verify="user.reg.password" required passwordVerify/>
            <span class="text-danger"
                ng-show="saasRegistrationCtrl.registrationForm.pass2.$error.passwordVerify && !saasRegistrationCtrl.registrationForm.pass1.$pristine">Passwords do not match!</span>
          </div>
      </div>
            
      <div class="form-group">
          <label class="col-sm-3 control-label">First Name</label>
          <div class="col-sm-9" ng-class="{'has-error': saasRegistrationCtrl.registrationForm.fname.$error.required && !saasRegistrationCtrl.registrationForm.fname.$pristine}">
            <input class="form-control" ng-model="user.reg.fname" type="text" name="fname" id="fname"
                     placeholder='first name'
                     required/>
            <span class="text-danger"
                ng-show="saasRegistrationCtrl.registrationForm.fname.$error.required && !saasRegistrationCtrl.registrationForm.fname.$pristine">Required!</span>
          </div>
      </div>

      <div class="form-group">
          <label class="col-sm-3 control-label">Last Name</label>
          <div class="col-sm-9" ng-class="{'has-error': saasRegistrationCtrl.registrationForm.lname.$error.required && !saasRegistrationCtrl.registrationForm.lname.$pristine}">
              <input class="form-control" ng-model="user.reg.lname" type="text" name="lname" id="lname" placeholder='last name' required/>
          <span class="text-danger"
                ng-show="saasRegistrationCtrl.registrationForm.lname.$error.required && !saasRegistrationCtrl.registrationForm.lname.$pristine">Required!</span>
          </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Organization</label>
        <div class="col-sm-9" ng-class="{'has-error': saasRegistrationCtrl.registrationForm.org.$error.required && !saasRegistrationCtrl.registrationForm.org.$pristine}">
          <input class="form-control" ng-model="user.reg.org" type="text" name="org" id="org" placeholder='organization'required />
          <span class="text-danger" ng-show="saasRegistrationCtrl.registrationForm.org.$error.required && !saasRegistrationCtrl.registrationForm.org.$pristine">Required!</span>
        </div>
      </div>

      <div class="form-group">
        <h4 class="text-center">Billing Information</h4>
        <billing-info saas-plans="plans" default-plan="plans.FREE.name" free-plan="plans.FREE.name" billing-obj="user.billing"></billing-info>
      </div>
      <div class="form-group text-center">
          <button class="btn btn-warning cb-padding" ng-click="clearInfo()">Clear</button>
          <button class="btn btn-success cb-padding" ng-click="register()"
                  ng-disabled="!saasRegistrationCtrl.registrationForm.$valid || saasRegistrationCtrl.registrationForm.pass2.$error.passwordVerify">
              Register
          </button>
      </div>
    </form>
  </div>

  <div class="col-sm-6" ng-if="pricingInfo">
      <div class="well pricingInfo">
          <h3>{{user.billing.plan}} Tier</h3>
          <div class="row" style="margin-bottom:10px"
               ng-repeat="info in getOrderedPricingInfo(pricingInfo[user.billing.plan.toLowerCase()], pricingInfo.displayOrder) track by $index">
              <div class="col-sm-6 text-center">
                  {{info.title}}
              </div>
              <div class="col-sm-6 text-center">
                  <hr ng-if="$index===0"/>
                  {{info.mainText}}
                  <div ng-class="{'flexTier': user.billing.plan === plans.FLEX.name, 'freeTier': user.billing.plan === plans.FREE.name}">
                      {{info.subText}}
                  </div>
                  <hr ng-if="$index===0"/>
              </div>
          </div>
      </div>
      <div>
          <small>{{pricingInfo[user.billing.plan.toLowerCase()].disclaimer.text}}</small>
      </div>
  </div>
</div>
