<h4>Timers</h4>
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 well">
  <h2 class="text-left" style="display: inline-block">{{timer.name}} </h2>
	<span class="pull-right">
		<button ng-if="!isEdge" title="Settings" class="btn btn-default" ng-click="$parent.timerSettingsModal(timer)"><span class="glyphicon glyphicon-wrench"></span></button>
		<button title="Delete" class="btn btn-default" ng-click="delete()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
	</span>

  <form class="form-horizontal" name="timerForm" ng-submit="saveTimer()">
  	<div class="form-group">
		<label class="control-label col-sm-2">Description:</label>
		<div class="col-sm-10" ng-class="{'has-error': timerForm.timerDescription.$error.required}">
		  <input class="form-control" name="timerDescription" ng-model="timer.description"
		         type="text" required>
		      <span class="text-danger" ng-show="timerForm.timerDescription.$error.required && timerForm.timerDescription.$dirty">Description Required!</span>
		</div>
	</div>

	<div class="form-group">
	  <label class="col-sm-2 control-label">Repetitions: <br /> (0 to run once)</label>
	  <div class="col-sm-10" ng-class="{'has-error': timerForm.timerRepetitions.$error.required}">
	      <input class="form-control" name="timerRepetitions" ng-model="timer.repeats" type="number" min="-1" required>
	          <span class="text-danger" ng-show="timerForm.timerRepetitions.$error.required && timerForm.timerRepetitions.$dirty">Repetitions Required!</span>
	  </div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Frequency:</label>

		<div class="col-sm-3" ng-class="{'has-error': timerForm.timerFrequencyNumber.$error.required}">
			<input class="form-control" name="timerFrequencyNumber" ng-model="timer.n" type="number" min="1" required>
			<span class="text-danger" ng-show="timerForm.timerFrequencyNumber.$error.required && timerForm.timerFrequencyNumber.$dirty">Frequency Required!</span>
		</div>

		<div class="col-sm-7" ng-class="{'has-error': timerForm.timerFrequencyDivisions.$error.required}">
			<select class="form-control" name="timerFrequencyDivisions" ng-model="timer.seconds" ng-options="unit for (unit, value) in frequencyUnits" convert-to-number required>
			</select>
			<span class="text-danger" ng-show="timerForm.timerFrequencyDivisions.$error.required && timerForm.timerFrequencyDivisions.$dirty">Please Specify Time Units.</span>
		</div>

		<div class='col-sm-10 col-sm-offset-2' ng-if="timer.n && timer.seconds">
		  <span>Loop every: {{ timer.n | secondsToHumanReadable:timer.seconds }}</span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Start Day:</label>
		<div class="col-sm-10" ng-class="{'has-error': timerForm.timerStart.$error.required}">
			<input name="timerStart" type="text" class="form-control" ng-model="timer.start_day" uib-datepicker-popup="{{format}}" datepicker-append-to-body="true" is-open="datePicker.isOpen" ng-click="datePicker.isOpen=true" close-text="Close" required />
			<span class="text-danger" ng-show="timerForm.timerStart.$error.required && timerForm.timerStart.$dirty">Start Date Required!</span>
		</div>
		<div class='col-sm-10 col-sm-offset-2' ng-if="timer.n && timer.seconds && timer.start_day && timer.start_time && timer.repeats">
			<span ng-if="timer.start_day && timer.start_time">Next execution: {{ timer.n | timerNextExecution:timer.seconds:timer.start_day:timer.start_time:timer.repeats | date:'medium'}}</span>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Start Time:</label>
		<div class="col-sm-10">
			<uib-timepicker class="cb-timepicker" ng-model="timer.start_time" hour-step="1" minute-step="1" show-meridian="true"></uib-timepicker>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Service:</label>
		<div class="col-sm-10">
			 <select class="form-control"
	            ng-model="timer.service_name"
	            ng-options="service.name as service.name for service in services"></select>
		</div>
	</div>

	<div class="form-group text-center">
		<input class="btn btn-danger" type="button" value="Revert" ng-click="revertTimer()" />
		<input class="btn btn-success" type="submit" value="Save Timer" ng-disabled="validTimer" ng-disabled="timerForm.$invalid" />
	</div>

  </form>
</div>