<h4>Triggers</h4>
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 well">
	<h2 class="text-left" style="display: inline-block">{{trigger.name}} </h2>
	<span class="pull-right">
		<button ng-if="!isEdge" title="Settings" class="btn btn-default" ng-click="$parent.triggerSettingsModal(trigger)"><span class="glyphicon glyphicon-wrench"></span></button>
		<button title="Delete" class="btn btn-default" ng-click="delete()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
	</span>

	<form class="form-horizontal" name="triggerForm" ng-submit="saveTrigger()">
		<div class="form-group">
		    <label class="control-label col-sm-2">Source:</label>
		    <div class="col-sm-10">
		        <select ng-disabled="true" name="sourceType" class="form-control"
		                ng-class="{'has-error-input': triggerForm.sourceType.$error.required}"
		                ng-model="trigger.event_definition.def_module"
		                ng-options="defKey as defKey for (defKey, defActions) in triggerDefs"
		                required></select>
		            <span class="text-danger"
		                  ng-show="triggerForm.sourceType.$error.required && triggerForm.sourceType.$dirty">Source Required!</span>
		    </div>
		</div>

		<div class="form-group">
		    <label ng-if="trigger.event_definition.def_module"
		           class="control-label col-sm-2">Action:</label>
		    <div class="col-sm-10">
		        <select ng-disabled="true" class="form-control" name="actionType"
		                ng-if="trigger.event_definition.def_module"
		                ng-model="trigger.event_definition.def_name"
		                ng-options="defKey as defKey for (defKey , defActions) in triggerDefs[trigger.event_definition.def_module]"
		                ng-class="{'has-error-input': triggerForm.actionType.$error.required}"
		                required></select>
		            <span class="text-danger"
		                  ng-show="triggerForm.actionType.$error.required && triggerForm.actionType.$dirty">Action Required!</span>
		    </div>
		</div>

		<div ng-if="trigger.event_definition.def_name" class="form-group">
		    
	        <label ng-if="trigger.event_definition.def_module === 'Data' && trigger.event_definition.def_name !== 'CollectionCreated'"
	               class="control-label col-sm-2" required>Collection:</label>
	        <label ng-if="trigger.event_definition.def_module === 'Messaging'" class="control-label col-sm-2">Topic:</label>
	        <label ng-if="trigger.event_definition.def_module === 'User' && trigger.event_definition.def_name !== 'UserCreated'"
	               class="control-label col-sm-2">User:</label>
	        <label ng-if="trigger.event_definition.def_module === 'Device' && trigger.event_definition.def_name !== 'DeviceCreated'"
	               class="control-label col-sm-2">Device:</label>
	        
	        <span class="text-danger" ng-show="triggerForm.collectionName.$error.required && triggerForm.collectionName.$dirty">Collection Required!</span>

		    <div class="col-sm-10"
		         ng-if="trigger.event_definition.def_name !== 'UserCreated' && trigger.event_definition.def_name !== 'CollectionCreated' && trigger.event_definition.def_name !== 'DeviceCreated'">
		        <select name="dataCollectionName" class="form-control"
		                ng-if="trigger.event_definition.def_module === 'Data'"
		                ng-model="trigger.collectionName"
		                ng-options="collection.internalName as collection.name for collection in collections"></select>
		        <input name="messagingID" class="form-control"
		               ng-if="trigger.event_definition.def_module === 'Messaging'"
		               ng-model="trigger.topic" type="text"/>
		        <select class="form-control" ng-if="trigger.event_definition.def_module === 'User'"
		                ng-model="trigger.userId"
		                ng-options="user.user_id as user.email for user in users"></select>
		        <select class="form-control" ng-if="trigger.event_definition.def_module === 'Device'"
		            ng-model="trigger.deviceName"
		            ng-options="device.internalDeviceName as device.name for device in devices"></select>
		    </div>
		</div>

		<div ng-if="trigger.event_definition.def_module === 'Data' && trigger.collectionName && trigger.event_definition.def_name.indexOf('Collection') < 0 && trigger.event_definition.def_name !== 'ItemCreated'" class="form-group">
		    <label class="control-label col-sm-2">Item ID:</label>
		    <div class="col-sm-10">
		        <input class="form-control" ng-model="trigger.itemId"/>
		    </div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Service:</label>
			<div class="col-sm-10">
				 <select class="form-control"
		            ng-model="trigger.service_name"
		            ng-options="service.name as service.name for service in services"></select>
			</div>
		</div>

		<div class="form-group text-center">
			<input class="btn btn-danger" type="button" value="Revert" ng-click="revertTrigger()" />
			<input class="btn btn-success" type="submit" value="Save Trigger" />
		</div>
	</form>
</div>