<div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Plan</label>
        <div class="col-sm-9" ng-class="{'has-error': form.billingPlan.$error.required && !form.billingPlan.$pristine}">
            <select class="form-control" ng-options="planInfo.name as planInfo.name for (plan, planInfo) in plans"
                    ng-model="billingObj.plan" required
                    name="billingPlan"></select>
            <span class="text-danger"
                  ng-show="form.billingPlan.$error.required && !form.billingPlan.$pristine">Required!</span>
        </div>
    </div>

    <div ng-if="billingObj.plan && billingObj.plan !== freePlan">
        <div class="form-group">
            <label class="col-sm-3 control-label">Card Number</label>
            <div class="col-sm-9" ng-class="{'has-error': form.cardNumber.$error.required && !form.cardNumber.$pristine}">
                <input class="form-control" ng-model="billingObj.card.number" cc-number cc-format cc-eager-type type="text"
                       name="cardNumber" required/>
                <span class="text-danger"
                      ng-show="form.cardNumber.$error.required && !form.cardNumber.$pristine">Required!</span>
            <span ng-show="form.cardNumber.$invalid && form.cardNumber.$ccEagerType">
                {{form.cardNumber.$ccEagerType}}
            </span>
            <span ng-show="form.cardNumber.$valid">
                {{form.cardNumber.$ccType}}
            </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">CVC</label>
            <div class="col-sm-2" ng-class="{'has-error': form.cvc.$error.required && !form.cvc.$pristine}">
                <input class="form-control" ng-model="billingObj.card.cvc" cc-cvc name="cvc"  required/>
                <span class="text-danger"
                      ng-show="form.cvc.$error.required && !form.cvc.$pristine">Required!</span>
            </div>
            <label class="col-sm-3 control-label">Expiration</label>
            <div class="col-md-4" ng-class="{'has-error': (form.expirationMonth.$error.required && !form.expirationMonth.$pristine) ||  (form.expirationYear.$error.required && !form.expirationYear.$pristine)}">
                <div class="input-group">
                    <input class="form-control" ng-model="billingObj.card.exp_month" cc-exp-month type="text"
                           name="expirationMonth" placeholder="MM"
                           required/>
                    <span class="input-group-addon">/</span>
                    <input class="form-control" ng-model="billingObj.card.exp_year" cc-exp-year type="test"
                           name="expirationYear" ng-required="billingObj.plan !== freePlan" placeholder="YY" />
                </div>
                <span class="text-danger"
                      ng-show="(form.expirationMonth.$error.required && !form.expirationMonth.$pristine) || (form.expirationYear.$error.required && !form.expirationYear.$pristine)">Required!</span>
                <span class="text-danger"
                      ng-show="!form.expirationMonth.$pristine && !form.expirationMonth.$valid">Invalid month!</span>
                <span class="text-danger"
                      ng-show="!form.expirationYear.$pristine && !form.expirationYear.$valid">Invalid year!</span>
            </div>

        </div>
    </div>
</div>