
	<div class="form-horizontal">
		<div ng-show="resourceDeployment.canDeployToPlatform">
			<h3>Plaftorm</h3>
			<div class="form-group">
				<div class="col-sm-10">
					<div class="input-group">
						<span class="input-group-addon">
						<input id="deployPlatform" ng-model="deploymentSettings.platform" ng-change="updateSettings()" name="deployPlatform" type="checkbox" ng-disabled="!deploymentSettings.canDeployToPlatform">
						</span>
						<label class="form-control" for="deployPlatform">System</label>
					</div>
				</div>

				<div class="col-sm-2 radio text-center">
					<i class="glyphicon glyphicon-question-sign" uib-popover="Deploy from edge to platform."
					popover-trigger="mouseenter"></i>
				</div>
			</div>
			<hr />
		</div>
		<h3>Edges</h3>

		<div class="form-group">
			<div class="col-sm-12">
				<div class="input-group">
					<span class="input-group-addon">
					<input id="deployEdgeAll" ng-model="deploymentSettings.allEdges" ng-change="updateSettings()" name="deployAllEdges" type="checkbox" ng-disabled="deploymentSettings.locked">
					</span>
					<label class="form-control" for="deployEdgeAll">All Edges</label>
				</div>
			</div>
		</div>

		<div ng-show="!deploymentSettings.locked && !deploymentSettings.allEdges" >
			<div class="form-group">
				<div class="col-sm-12">
					<input class="form-control" type="text" ng-model="filterString" placeholder="Filter by edge name..." />
				</div>
			</div>

			<hr />
			<div ng-repeat="edge in system.edges | filter:{name:filterString}">
				<div class="form-group">
					<div class="col-sm-12">
						<div class="input-group">
							<span class="input-group-addon">
							<input id="deployEdge-{{edge.name}}" ng-model="edges[edge.name]" ng-change="updateSettings()" name="deployEdge-{{edge.name}}" type="checkbox">
							</span>
							<label class="form-control" for="deployEdge-{{edge.name}}">{{edge.name}}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	