<div class="edge-form">

    <div class="form-group">
        <label class="col-sm-3 control-label">Edge Cookie</label>
        <div class="col-sm-9">
            <div class="input-group">
                <span class="input-group-addon clickable feedback" ng-click="system.generateDeviceToken($event)">Generate <span class="glyphicon glyphicon-random" aria-hidden="true"></span></span>
                <input class="form-control" type="text" required ng-model="system[consoleConstants.external.EDGE.TOKEN]"/>
            </div>
        </div>
    </div>

    <div ng-if="!isNew">

        <div class="form-group">
            <label class="col-sm-3 control-label"> {{consoleConstants.internal.EDGE.LABELS.CONNECTED}}</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" readonly ng-model="system[consoleConstants.external.EDGE.CONNECTED]" placeholder="Connection"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"> {{consoleConstants.internal.EDGE.LABELS.PUBLIC_ADDRESS}}</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" readonly ng-model="system[consoleConstants.external.EDGE.PUBLIC_ADDRESS]" placeholder="IP Address"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> {{consoleConstants.internal.EDGE.LABELS.LOCAL_ADDRESS}}</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" readonly ng-model="system[consoleConstants.external.EDGE.LOCAL_ADDRESS]" placeholder="IP Address"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> {{consoleConstants.internal.EDGE.LABELS.PUBLIC_PORT}}</label>
            <div class="col-sm-9">
                <input class="form-control" type="number" readonly ng-model="system[consoleConstants.external.EDGE.PUBLIC_PORT]" placeholder="Integer"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> {{consoleConstants.internal.EDGE.LABELS.LOCAL_PORT}}</label>
            <div class="col-sm-9">
                <input class="form-control" type="number" readonly ng-model="system[consoleConstants.external.EDGE.LOCAL_PORT]" placeholder="Integer"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> {{consoleConstants.internal.EDGE.LABELS.BROKER_AUTH_PORT}}</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" readonly ng-model="system[consoleConstants.external.EDGE.BROKER_AUTH_PORT]" placeholder="Integer"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> {{consoleConstants.internal.EDGE.LABELS.BROKER_PORT}}</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" readonly ng-model="system[consoleConstants.external.EDGE.BROKER_PORT]" placeholder="Integer"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> {{consoleConstants.internal.EDGE.LABELS.BROKER_TLS_PORT}}</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" readonly ng-model="system[consoleConstants.external.EDGE.BROKER_TLS_PORT]" placeholder="Integer"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> {{consoleConstants.internal.EDGE.LABELS.BROKER_WS_AUTH_PORT}}</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" readonly ng-model="system[consoleConstants.external.EDGE.BROKER_WS_AUTH_PORT]" placeholder="Integer"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> {{consoleConstants.internal.EDGE.LABELS.BROKER_WS_PORT}}</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" readonly ng-model="system[consoleConstants.external.EDGE.BROKER_WS_PORT]" placeholder="Integer"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> {{consoleConstants.internal.EDGE.LABELS.BROKER_WSS_PORT}}</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" readonly ng-model="system[consoleConstants.external.EDGE.BROKER_WSS_PORT]" placeholder="Integer"/>
            </div>
        </div>

    </div>

</div>