<div>

    <override-service-selector
            docs-url="https://docs.clearblade.com/v/3/2-console_administration/AuthOverride/"
            label="Auth Service"
            ng-model="system[consoleConstants.external.AUTH_SERVICE]"
            code-services="codeServices"></override-service-selector>

    <override-service-selector
            docs-url="https://docs.clearblade.com/v/3/2-console_administration/RegOverride/"
            label="Reg Service"
            ng-model="system[consoleConstants.external.REG_SERVICE]"
            code-services="codeServices"></override-service-selector>

</div>