<div class="row">
    <div class="btn-group-wrap">
        <div class="btn-group cb-btn-menu">
        	<button class="btn btn-default cb-menu-btn" ng-repeat="(resource , array) in options" ng-class="{active: section == resource}"
                    ng-click="changeSelector($event, resource)">{{ resource | capitalize }}</button>
        </div>
    </div>
</div>
<hr />
<form class="row" ng-repeat="(resource , array) in options" ng-show="section == resource">


	<div ng-show="resource == 'collection'">
		<label class="control-label">Conflict Resolution Policy</label>
		<select class="form-control" ng-model="currentPolicy.value" ng-options="policy for (k, policy) in conflictPolicies track by policy" ng-change="policyChange()"></select>
		<select ng-show="currentPolicy.value == 'User Defined'" ng-model="customResolution.value" class="form-control" ng-options="service.name for service in options['service'] track by service.name" ng-change="policyChange()"><option value="">- Select Resolution Service -</option>
		</select>
	</div>

	<h4 ng-if="noItemsInSection" class="text-center">There are no {{section}}s in this system.</h4>

	<table class="table table-striped" ng-if="!noItemsInSection">
		<thead>
			<tr><td>Sync</td><td>{{ resource | capitalize }} Name</td><td ng-if="conflictPolicy == 'Per Table'">Conflict Resolution Configuration</td></tr>
		</thead>

		<tbody>

			<tr  ng-if="resource == 'library'">
				<label> 
					<td>
						<input type="checkbox" ng-checked="true" ng-disabled="true" />
					</td>
					<td>
						<a href="https://docs.clearblade.com/v/3/4-developer_reference/platformsdk/ClearBlade.js/" target="_blank">Global Libraries</a>
					</td>
				</label>
			</tr>

			<tr ng-repeat="option in options[resource]" ng-if="!option.isGlobal">
				<td>
					<input ng-if="resource !== 'collection'" value="{{option.name}}" type="checkbox" ng-checked="isSynced(resource, option.name)" ng-click="toggleSync(resource, option.name)" />
					<input ng-if="resource === 'collection'" value="{{option.collectionID}}" type="checkbox" ng-checked="isSynced(resource, option.collectionID)" ng-click="toggleSync(resource, option.collectionID)" />
				</td>
				<td>{{option.name}}</td>

				<td ng-show="resource == 'collection' && currentPolicy.value == 'Per Table'">

		            <div class="input-group" style="width:100%">
				        <div class="btn-group" ng-class='{open: open}'>
				            <button type="button" class="btn btn-default btn-sm btn-block dropdown-toggle" data-toggle="dropdown" ng-click='open=!open'>{{getCollectionResolutionPolicy(option.name)}}<span class="caret"></span>
				            </button>
				            <ul class="dropdown-menu">
				            	<li ng-click="open=!open; setCollectionResolutionPolicy(option.name, 'Edge Wins')"><a href="#">Edge Wins</a></li>
				            	<li ng-click="open=!open; setCollectionResolutionPolicy(option.name, 'Platform Wins')"><a href="#">Platform Wins</a></li>
				            </ul>
				        </div>
				    </div>
				</td>
			</tr>

		</tbody>
	</table>
</form>