<div class="row">

  <div class="col-sm-6 collections-controls">
    <div class="input-group">
    	<div class="input-group-btn">
	      <button title="Add Role" class="btn btn-default" ng-click="addRole()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Role</button>
	      <button title="Remove Role" class="btn btn-default" ng-click="removeRole()" ng-if="roleGridOptions.totalServerItems > 0"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Roles</button>
	  	</div>
    </div>
  </div>

  <div class="col-sm-6 collections-controls text-right">
    <div class="input-group">
      <div class="input-group-btn">
        <button title="Export" class="btn btn-default" ng-click="exportRoles()" ng-show="roleData.length > 0"><span class="glyphicon glyphicon-export" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>

</div>

<div class="row grid-row" id="waitForRoles">
  <div class="col-sm-12">
    <div ui-grid="roleGridOptions" ui-grid-selection class="gridStyle collection-grid"></div>
  </div>
</div>