<div>
    <span ng-click="createNewRole()" class="clickable feedback">+ Role</span>
    <div id="collectionBlock" style="position: relative; border-top:1px solid #ddd">
        <div class="text-center row">
            <div class="col-sm-3 col-sm-offset-1">Name</div>
            <div class="col-sm-2">Create</div>
            <div class="col-sm-2">Read</div>
            <div class="col-sm-2">Update</div>
            <div class="col-sm-2">Delete</div>
        </div>
        <div class="text-center row" ng-repeat="role in resourceFilter()" style="margin-top:10px">
            <div ng-if="role.collIdx > -1">
                <div class="col-sm-1">
                    <i class="glyphicon glyphicon-remove clickable feedback" ng-click="removeRole(role, role.collIdx)"></i>
                </div>
                <div class="col-sm-3">
                    {{role.name}}
                </div>
                <div class="col-sm-2"><input type="checkbox" class="create.checkbox"
                                          ng-model="role[resourceKey][role.collIdx].create"></div>
                <div class="col-sm-2"><input type="checkbox" class="read.checkbox"
                                          ng-model="role[resourceKey][role.collIdx].read"></div>
                <div class="col-sm-2"><input type="checkbox" class="update.checkbox"
                                          ng-model="role[resourceKey][role.collIdx].update"></div>
                <div class="col-sm-2"><input type="checkbox" class="delete.checkbox"
                                          ng-model="role[resourceKey][role.collIdx].delete"></div>
            </div>
        </div>
        <div class="text-center row" ng-repeat="newRole in newRoles track by $index" style="margin-top:10px">
            <div class="col-sm-1">
                <i class="glyphicon glyphicon-remove clickable feedback" ng-click="removeNewRole(newRole)"></i>
            </div>
            <div class="col-sm-3">
                <input ng-model="newRole.name" uib-typeahead="rolo.name for rolo in getOtherRoles() | filter:{'name':$viewValue}:emptyOrMatch"
                       typeahead-on-select="addCollectionToRole($item, $index)" typeahead-append-to-body="true" typeahead-focus
                       type="text" class="form-control"/>
            </div>
            <div class="col-sm-2"><input type="checkbox" ng-model="newRole.create"></div>
            <div class="col-sm-2"><input type="checkbox" ng-model="newRole.read"></div>
            <div class="col-sm-2"><input type="checkbox" ng-model="newRole.update"></div>
            <div class="col-sm-2"><input type="checkbox" ng-model="newRole.delete"></div>
        </div>
    </div>
</div>
