
<div class="form-horizontal">
	<h3>Edges</h3>

	<div class="form-group" ng-show="resource.syncLocked">
		<div class="col-sm-12">
			<div class="input-group">
				<span class="input-group-addon">
				<input id="syncEdgeAll" ng-model="resource.syncLocked" ng-change="updateSettings()" name="syncAllEdges" type="checkbox" ng-disabled="resource.syncLocked">
				</span>
				<label class="form-control" for="syncEdgeAll">All Edges</label>
			</div>
		</div>
	</div>

	<div ng-show="!resource.syncLocked">
		<div class="form-group">
			<div class="col-sm-12">
				<input class="form-control" type="text" ng-model="filterString" placeholder="Filter by edge name..." />
			</div>
		</div>
		<hr />
		<div ng-repeat="edge in system.edges | filter:{name:filterString}">
			<div class="form-group">
				<div class="col-sm-12">
					<div class="input-group">
						<span class="input-group-addon">
						<input id="syncEdge-{{edge.name}}" ng-model="edges[edge.name]" ng-change="updateSettings()" name="syncEdge-{{edge.name}}" type="checkbox">
						</span>
						<label class="form-control" for="syncEdge-{{edge.name}}">{{edge.name}}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	