<div class="dash-system span12">
    <div class="dash-system-pic">
        <img src="img/System.png"/>
    </div>
    <div class="dash-system-info">
        <div class="row-fluid">
            <div class="span12">
                <div class="pull-right" style="margin-top:5px">
                    <button title="System Export" class="btn btn-default" ng-click="exportSystem(system)"><span class="glyphicon glyphicon-export"></span></button>
                    <button title="System Settings" class="btn btn-default" ng-click="systemSettings(system)"><span class="glyphicon glyphicon-wrench"></span></button>
                </div>
                <div class="row-fluid" style="margin-top:5px;margin-bottom:5px">
                    <h4>{{system.name}}</h4>
                </div>
                <div class="row-fluid" style="margin-top:5px;margin-bottom:5px" ng-if="system.lastUpdated.date">
                    Last updated:<span style="left:10px;position:relative">{{system.lastUpdated.date}}</span><span
                        style="left:20px;position:relative">{{system.lastUpdated.time}}</span>
                </div>
            </div>
        </div>
        <div class="row-fluid" style="margin-top:5px">
            <div class="btn-group" role="group" ng-repeat="location in locations" uib-dropdown>
                <button type="button" class="btn btn-default dash-system-btn" ng-click="selectLocation(system, location)" ng-class="{'dash-system-btn-first':$first,'dash-system-btn-last':$last}">
                    {{location.name}}
                    <span class="caret" ng-if="location.subpaths" uib-dropdown-toggle></span>
                </button>
                <ul class="dropdown-menu" ng-if="location.subpaths" uib-dropdown-menu>
                    <li role="menuitem" ng-repeat="subpath in location.subpaths" ng-click="selectLocation(system, subpath)"><a>{{subpath.name}}</a></li>
                </ul>
            </div>
        </div>
        <div style="margin-top: 10px;" ng-init="isEdgeListOpen=false">

            <span ng-if="!system.isLoadingEdges">
                    Edges <button title="Add Edge" class="btn btn-default" ng-click="newEdge()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New</button>
                </span>
                <span ng-if="system.isLoadingEdges">
                    Loading edges...
                </span>
            <button class="btn btn-default btn-mini" style="min-width:100px"
                    ng-show="!system.isLoadingEdges && system.edges.length > 0"
                    ng-click="isEdgeListOpen=!isEdgeListOpen">
                    <span ng-hide="isEdgeListOpen">
                        Show Edges
                    </span>
                    <span ng-show="isEdgeListOpen">
                        Hide Edges
                    </span>
                <i ng-class="{'glyphicon glyphicon-chevron-down': isEdgeListOpen, 'glyphicon glyphicon-chevron-right': !isEdgeListOpen}"
                   class="clickable"></i>
            </button>

            <div ng-if="!system.isLoadingEdges && system.edges.length > 0 && isEdgeListOpen" class="edge-accordion">
                <uib-accordion>

                    <uib-accordion-group is-open="isEdgeListOpen">

                        <span class="col-sm-4">
                            Name
                        </span>
                        <span class="col-sm-4">
                            Public Address
                        </span>
                        <span class="col-sm-4">
                            Local Address
                        </span>
                        <hr/>

                        <div ng-repeat="edge in system.edges track by $index" class="row" style="margin: 0 0 15px 0;">
                            <span class="col-sm-4">
                                <a ng-click="selectEdge(edge)" class="clickable">{{edge[consoleConstants.external.SYSTEM_NAME]}}</a>
                            </span>
                            <span class="col-sm-4">
                                {{edge[consoleConstants.external.EDGE.PUBLIC_ADDRESS]}}:{{edge[consoleConstants.external.EDGE.PUBLIC_PORT]}}
                            </span>
                            <span class="col-sm-4">
                                {{edge[consoleConstants.external.EDGE.LOCAL_ADDRESS]}}:{{edge[consoleConstants.external.EDGE.LOCAL_PORT]}}
                                <img class="pull-right clickable" ng-click="systemSettings(edge)"
                                     src="img/settings.png"/>
                            </span>
                            <span class="col-sm-12" ng-if="$index !== system.edges.length - 1">
                                <hr style="margin: 5px 0 0 0;"/>
                            </span>

                        </div>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>