<div>
    <div class="modal-header">
        <h2>Add Role</h2>
    </div>
    <div class="modal-body scrollable-modal-body">
        <form ng-submit="roleSubmitted()">
            <div class="row">
                <strong class="control-label col-sm-2 col-sm-offset-2">Name:</strong>
                <div class="col-sm-6">
                    <input class="form-control" ng-model="newRole.name" type="text" placeholder="Name" required autofocus/>
                </div>
            </div>

            <br/>
            <perm-creator perm-list="newRole.collections" option-caller="collectionsCall"
                          title="collections"></perm-creator>
            <hr>
            <perm-creator perm-list="newRole.services" option-caller="servicesCall" title="services"></perm-creator>
            <hr>
            <div class="row text-center">
                <div class="col-sm-2 col-sm-offset-4">Create</div>
                <div class="col-sm-2">Read</div>
                <div class="col-sm-2">Update</div>
                <div class="col-sm-2">Delete</div>
            </div>
            <div class="row text-center">
                <strong class="col-sm-4">Users</strong>
                <div class="col-sm-2"><input type="checkbox" ng-model="newRole.users.create"></div>
                <div class="col-sm-2"><input type="checkbox" ng-model="newRole.users.read"></div>
                <div class="col-sm-2"><input type="checkbox" ng-model="newRole.users.update"></div>
                <div class="col-sm-2"><input type="checkbox" ng-model="newRole.users.delete"></div>
            </div>
            <hr>
            <div class="row text-center">
                <div class="col-sm-2 col-sm-offset-4">Publish</div>
                <div class="col-sm-2">Read</div>
                <div class="col-sm-2">Update</div>
                <div class="col-sm-1">Delete</div>
            </div>
            <div class="row text-center">
                <strong class="col-sm-4">Message History</strong>
                <div class="col-sm-2"><input type="checkbox" ng-model="newRole.msgHistory.create"></div>
                <div class="col-sm-2"><input type="checkbox" ng-model="newRole.msgHistory.read"></div>
                <div class="col-sm-2"><input type="checkbox" ng-model="newRole.msgHistory.update"></div>
                <div class="col-sm-2"><input type="checkbox" ng-model="newRole.msgHistory.delete"></div>
            </div>
            <hr>
            <!-- commenting this out till we bring back push -->
            <!--<div class="row text-center">
                <div class="col-sm-2 col-sm-offset-4">Can Push</div>
            </div>
            <div class="row text-center">
                <strong class="col-sm-4">Push</strong>
                <div class="col-sm-2"><input type="checkbox" ng-model="newRole.push.create"></div>
            </div>-->
    </div>
    <div class="modal-footer">
        <button class="btn btn-success cb-padding" ng-click="roleSubmitted()" ng-disabled="isNotValid()">Ok</button>
        <button class="btn btn-default cb-padding" ng-click="cancel()">Cancel</button>
    </div>
</div>
