<form name="newColumnForm" ng-submit="saveColumn()">

    <div class="modal-header">
        <h2>Add Column</h2>
    </div>

    <div class="modal-body">

        <div class="container-fluid">
            <div class="form-horizontal">

                <div class="form-group">
                    <label class="col-sm-2" for="columnName">Alphanumeric Name:</label>
                    <div class="col-sm-10">
                        <input class="form-control" ng-model="column.addColumnName" ng-pattern="/^[a-zA-Z0-9_]*$/" id="columnName"
                               type="text" name="columnName" autofocus required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2" for="columnDataType">Column Type:</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="column.columnDataType"
                                ng-options="obj.value as obj.text for (type, obj) in columnDataTypeOptions"
                                required></select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <input type="submit" class="btn btn-success cb-padding" id="columnSubmit"
               ng-disabled="newColumnForm.$invalid" value="Submit">
        <button class="btn btn-default cb-padding" ng-click="cancel($event)">Cancel</button>
    </div>
</form>
