<form name="addUserForm" autocomplete="off" ng-submit="register(user)">

    <div class="modal-header">
        <h2>New User</h2>
    </div>

    <div class="modal-body">
        <div class="form-horizontal">
            <span class="text-danger" ng-show="error">{{errorMessage}}</span>
            <div class="form-group">
                <label class="col-sm-3" for="registerEmail">Email:</label>
                <div class="col-sm-9">
                    <input class="form-control" ng-model="user.email" id="registerEmail" type="email" name="email" placeholder="Email"
                           required autofocus/>
                    <span class="error" ng-show="addUserForm.email.$error.email && !addUserForm.email.$pristine">Invalid Email!</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3" for="password">Password:</label>
                <div class="col-sm-9">
                    <input class="form-control" ng-model="user.password" id="registerPassword" type="password" name="password"
                           placeholder="Password" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3" for="confirmPassword">Confirm Password:</label>
                <div class="col-sm-9">
                    <input class="form-control" ng-model="user.confirmPassword" id="confirmPassword" type="password" name="confirmPassword"
                           placeholder="Confirm Password" required/>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <input ng-disabled="!addUserForm.$valid" type="submit" class="btn btn-success cb-padding"
               id="registerSubmit" value="Register New User"/>
        <button class="btn btn-default cb-padding" ng-click="cancel($event)">Cancel</button>
    </div>

</form>
