<div class="modal-header" class="text-center"><h2>Change {{userName}}'s password</h2></div>
<div class="modal-body">
  <div class="form-horizontal login">
    <form name="resetForm" autocomplete="off" ng-submit="changePassword(newPassword)">
      <div class="text-danger">{{errorMsg}}</div>
      <change-password new-password="newPassword"></change-password>
      <div class="form-group">
          <div class="text-center">
              <input type="submit" class="btn btn-primary" ng-disabled="resetForm.$invalid" value="Submit">
              <button class="btn btn-default cb-padding" ng-click="cancel()">Cancel</button>
          </div>
      </div>
    </form>
  </div>
</div>
