<div class="modal-header" class="text-center"><h2>Change {{email}}'s password</h2></div>
<div class="modal-body">
  <div class="form-horizontal login">
    <div class="text-danger">{{errorMsg}}</div>
    <form name="resetForm" autocomplete="off" ng-submit="resetSubmitted(oldPassword, newPassword)">
      <div class="form-group">
        <label class="col-sm-4 control-label" for="oldPassword">Old Password:</label>
        <div class="col-sm-8">
          <input ng-model="oldPassword" id="oldPassword" class="form-control" type="password" name="oldPassword" placeholder="Password" autofocus required />
        </div>
      </div>
      <change-password new-password="newPassword"></change-password>
      <div class="form-group">
          <div class="text-center">
              <input type="submit" class="btn btn-primary" ng-disabled="resetForm.$invalid" value="Submit">
              <button class="btn btn-default cb-padding" ng-click="cancel()">Cancel</button>
          </div>
      </div>
    </form>
  </div>
</div>
