<div>
    <div class="modal-header">
        <h3>Code History</h3>
        <div class="row">
            <div class="btn-group-wrap">
                <div class="btn-group cb-btn-menu">
                    <button class="btn btn-default cb-menu-btn" ng-class="{active: section == 'logs'}" ng-click="changeSection($event, 'logs')">Debug Logs</button>
                    <button class="btn btn-default cb-menu-btn" ng-class="{active: section == 'failures'}" ng-click="changeSection($event, 'failures')">Failed Runs</button>
                </div>
            </div>
        </div>
        <div class="row" ng-if="section == 'logs'">
            <div class="col-sm-12">
                <hr />
                <select class="form-control" ng-model="selectedLog" ng-change="displayLog(selectedLog)"
                    ng-options="log as log.service_execution_time for log in logs"></select>
            </div>
        </div>
    </div>
    <div class="modal-body scrollable-modal-body" id="blockModal">
        <h4 class="text-center" ng-if="section == 'logs' && !selectedLog.logLines.length">No log run selected</h4>
        <div ng-if="section == 'logs'" ng-repeat="logLine in selectedLog.logLines track by $index" pretty-json="logLine"></div>
        
        <h4 class="text-center" ng-if="section == 'failures' && !failedRuns.length">No failed runs!</h4>
        <div ng-if="section == 'failures'" ng-repeat="run in failedRuns track by $index">
            <div class="input-group">
                <div class="input-group-btn">
                    <button ng-click="discardFailure(run.Id)" class="btn btn-default"><span class="glyphicon glyphicon-trash"></button></button>
                </div>
                <input class="form-control" type="text" ng-disabled="true" value="{{ run.time | date:'medium'}}" />
                <div class="input-group-btn">
                        <button ng-click="failureDetail(run)" class="btn btn-default">Details <span class="glyphicon glyphicon-option-horizontal"></button></button>
                        <button ng-click="retryFailure(run.Id)" class="btn btn-default">Retry <span class="glyphicon glyphicon-retweet"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-if="section == 'failures'" ng-click="discardAllFailures()" ng-disabled="!failedRuns.length" class="btn btn-default"> Discard All <span class="glyphicon glyphicon-trash"></span></button>
        <button ng-if="section == 'failures'" ng-click="retryAllFailures()" ng-disabled="!failedRuns.length" class="btn btn-default"> Retry All <span class="glyphicon glyphicon-retweet"></span></button>
        <input ng-click="closeModal()" type="submit" class="btn btn-default" value="Close"/>
    </div>
</div>
