<div class="modal-header">
    <div class="row">
        <h3>{{collection[collectionConstants.NAME]}}</h3>
        <div class="cb-modal-action">
            <span class="glyphicon glyphicon-trash pull-right cb-standardIconSize clickable" ng-click="deleteCollection()"></span>
        </div>
    </div>

    <div class="row">
        <div class="btn-group-wrap">
            <div class="btn-group cb-btn-menu">
                <button class="btn btn-default cb-menu-btn" ng-class="{active: section=='props'}" ng-click="changeSection('props')">
                    Properties
                </button>
                <button class="btn btn-default cb-menu-btn" ng-class="{active: section=='security'}" ng-click="changeSection('security')"
                    id="securityTab">
                    Security
                </button>
                <button ng-if="collection[collectionConstants.IS_CONNECTION]" class="btn btn-default cb-menu-btn" ng-class="{active: section=='config'}"
                    ng-click="changeSection('config')" id="configTab">
                    Config
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal-body scrollable-modal-body" id="blockModal">
    <div ng-class="{'no-pad': section === 'security'}">
        <div ng-if="section==='props'">

            <div class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-sm-3">Collection Name </label>
                    <div class="col-sm-8">
                        <input ng-model="collection[collectionConstants.NAME]" readonly type="text" name="collectionName" class="form-control" />
                        <div ng-show="emptyName" class="errorMessage">Must have a name!</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3">Collection ID </label>
                    <div class="col-sm-8">
                        <cb-copy target="{{collection[collectionConstants.COLLECTION_ID]}}"></cb-copy>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3">Total Items </label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="totalItems" type="text" readonly/>
                    </div>
                </div>

                <!-- Waiting for: monsoon-1445
                    <div class="form-group">
                        <label class="control-label col-sm-3">Status</label>
                        <div class="col-sm-8">
                            <input ng-if="!collection[collectionConstants.COLLECTION_ID]" class="form-control" value="online" type="text" readonly/>
                        </div>
                    </div>
                    -->
            </div>
        </div>

        <div ng-if="section==='security'">
            <div class="row-fluid">
                <h3>Roles</h3>
            </div>
            <div>
                <role-list roles="roles" new-roles="newRoles" resource="collection" resource-filter="filterRoles" resource-key="collections"></role-list>
            </div>
        </div>

        <div ng-if="section === 'config'">
            <div class="row-fluid">
                <h3>Connection Configuration</h3>
            </div>

            <div class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-sm-3" for="dbTypes">Database Type:</label>
                    <div class="col-sm-7">
                        <input class="form-control" name="dbName" ng-model="collection[collectionConstants.DB_TYPE]" type="text" readonly/>
                    </div>
                    <div class="col-sm-2 radio text-center">
                        <i class="glyphicon glyphicon-question-sign" uib-popover="Type of connected database" popover-trigger="mouseenter"></i>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="dbTypes">Database Name:</label>
                    <div class="col-sm-7">
                        <input class="form-control" name="dbName" ng-model="collection[collectionConstants.DB_NAME]" type="text" readonly/>
                    </div>
                    <div class="col-sm-2 radio text-center">
                        <i class="glyphicon glyphicon-question-sign" uib-popover="Name of connected database" popover-trigger="mouseenter"></i>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="ipAddress">IP Address:</label>
                    <div class="col-sm-7">
                        <input class="form-control" ng-model="collection[collectionConstants.ADDRESS]" id="ipAddress" type="text" name="collectionIPAddress"
                            readonly/>
                    </div>
                    <div class="col-sm-2 radio text-center">
                        <i class="glyphicon glyphicon-question-sign" uib-popover="IP address or hostname of database server" popover-trigger="mouseenter"></i>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="collectionPort">Port:</label>
                    <div class="col-sm-7">
                        <input class="form-control" ng-model="collection[collectionConstants.PORT]" type="text" name="collectionPort" readonly/>
                    </div>
                    <div class="col-sm-2 radio text-center">
                        <i class="glyphicon glyphicon-question-sign" uib-popover="Port of database to connect to" popover-trigger="mouseenter"></i>
                    </div>
                </div>

                <div class="form-group" ng-if="collectionConstants.DBTypes[collection[collectionConstants.DB_TYPE]].encryption">
                    <div class="col-sm-7 col-sm-offset-3">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input id="encryption" ng-model="collection[collectionConstants.IS_ENCRYPTED]" name="encryption" type="checkbox" disabled="disabled">
                            </span>
                            <label class="form-control" for="encryption">Use Encryption</label>
                        </div>
                    </div>
                    <div class="col-sm-2 radio text-center">
                        <i class="glyphicon glyphicon-question-sign" uib-popover="Use encrypted connection; SSL or TLS" popover-trigger="mouseenter"></i>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-3" for="collectionUsername">Username:</label>
                    <div class="col-sm-7">
                        <input class="form-control" ng-model="collection[collectionConstants.USER]" type="text" name="collectionUsername" readonly/>
                    </div>
                    <div class="col-sm-2 radio text-center">
                        <i class="glyphicon glyphicon-question-sign" uib-popover="Username for database; full access required" popover-trigger="mouseenter"></i>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="collectionUsername">Password:</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="password" ng-model='newPassword.password' placeholder='Change Database Password' />
                    </div>
                    <div class="col-sm-2 radio text-center">
                        <i class="glyphicon glyphicon-question-sign" uib-popover="Password for database; full access required" popover-trigger="mouseenter"></i>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3">Table name:</label>
                    <div class="col-sm-7">
                        <input class="form-control" ng-model="collection[collectionConstants.TABLE_NAME]" name="tableName" type="text" readonly/>
                    </div>
                    <div class="col-sm-2 radio text-center">
                        <i class="glyphicon glyphicon-question-sign" uib-popover="Name of table within database to use for collection" popover-trigger="mouseenter"></i>
                    </div>
                </div>

                <div ng-if="collection[collectionConstants.DB_TYPE] === 'DB2 System i'">

                    <div class="form-group">
                        <label class="control-label col-sm-3">Schema:</label>
                        <div class="col-sm-7">
                            <input class="form-control" ng-model="collection[collectionConstants.SCHEMA]" name="tableName" type="text" readonly/>
                        </div>
                        <div class="col-sm-2 radio text-center">
                            <i class="glyphicon glyphicon-question-sign" uib-popover="Name of schema within database to use for collection" popover-trigger="mouseenter"></i>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Library:</label>
                        <div class="col-sm-7">
                            <input class="form-control" ng-model="collection[collectionConstants.LIBRARY]" name="tableName" type="text" readonly/>
                        </div>
                        <div class="col-sm-2 radio text-center">
                            <i class="glyphicon glyphicon-question-sign" uib-popover="Name of library within database to use for collection" popover-trigger="mouseenter"></i>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">Catalog:</label>
                        <div class="col-sm-7">
                            <input class="form-control" ng-model="collection[collectionConstants.CATALOG]" name="tableName" type="text" readonly/>
                        </div>
                        <div class="col-sm-2 radio text-center">
                            <i class="glyphicon glyphicon-question-sign" uib-popover="Name of catalog within database to use for collection" popover-trigger="mouseenter"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="section==='deploy'">
            <div>
                <deploy-list resource-type="'collection'" resource-id="collection.name"></deploy-list>
            </div>
        </div>
        <div ng-if="section==='sync'">
            <div>
                <sync-list resource-type="'collection'" resource-id="collection.name"></sync-list>
            </div>
        </div>

    </div>
</div>

<div class="modal-footer">
    <input ng-click="applyChanges()" type="submit" class="btn btn-success" id="collectionSubmit" value="Save" ng-disabled="emptyName || !matchingPassword"
    />
    <input type="button" class="btn btn-default" ng-click="cancel()" value="Cancel">
</div>