<div>
    <div class="modal-header">
        <div class="btn-group cb-btn-menu">
            <label class="btn btn-default cb-menu-btn">
                Security
            </label>
        </div>
    </div>

    <div class="modal-body" id="blockModal">
        <div class="container-fluid">
            <h3>Roles</h3>
            <div>
                <device-role-list roles="roles" new-roles="newRoles" role-filter="filterRoles"></device-role-list>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <input ng-click="applyChanges()" type="submit" class="btn cb-padding btn-success" value="Save">
        <input ng-click="cancel()" type="button" class="btn cb-padding btn-default" value="Cancel">
    </div>
</div>
      
