<div>
  <div class="modal-header text-center">
    <h4>{{roleName}}'s Message History Permissions</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="text-center col-sm-3">Publish</div>
      <div class="text-center col-sm-3">Read</div>
      <div class="text-center col-sm-3">Update</div>
      <div class="text-center col-sm-3">Delete</div>
    </div>
    <div class="row">
      <div class="text-center col-sm-3"><input type="checkbox" ng-model="role.msgHistory.create"></div>
      <div class="text-center col-sm-3"><input type="checkbox" ng-model="role.msgHistory.read"></div>
      <div class="text-center col-sm-3"><input type="checkbox" ng-model="role.msgHistory.update"></div>
      <div class="text-center col-sm-3"><input type="checkbox" ng-model="role.msgHistory.delete"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="save()">Save</button>
  </div>
</div>
