<div class="modal-header" style="text-align:center"><h2>{{title}}</h2></div>
<div class="modal-body">

	<div ng-if="!messageIsJson" ng-bind-html="htmlMessage" class="prevent-overflow text-center"></div>
	<div ng-if="messageIsJson" pretty-json="jsonMessage" class="prevent-overflow"></div>
  
	<div ng-if="!errorIsJson" ng-bind-html="htmlErr" class="prevent-overflow text-center"></div>
	<div ng-if="errorIsJson" pretty-json="jsonError" class="prevent-overflow"></div>

</div>
<div class="modal-footer"><button class="btn btn-primary" ng-click="closeModal()">Ok</button></div>