<div class="modal-header">
    <h2>{{header}}</h2>
</div>
<div class="modal-body">
    <h3>Select a destination:</h3>
    <div id="export-options">
        <div id="export-options-column">
            <a ng-click="exportToGithub()" class="btn" ><img border="0" alt="exportToGithub" src="img/github-logo.png" width="100%"></a>
            <br>
            <h4>GitHub Repository</h4>
            Export your system into a new repo in GitHub
        </div>
        <div class="export-options-divider"></div>
        <div id="export-options-column">
            <a ng-click="exportLocally()" class="btn" ><img border="0" alt="exportToFileSystem" src="img/file-system-logo.png" width="100%"></a>
            <br>
            <h4>Download Zip</h4>
            Download your IoT System as a single zip
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="cancel()" class="btn btn-default cb-padding">Cancel</button>
</div>
