<div class="modal-header cb-modal-header">
  <div class="row-fluid">
    <h2>{{legalTitle}}</h2>
  </div>
</div>

<div class="modal-body scrollable-modal-body">
    <div class="container-fluid" style="padding-left:0px" ng-include src="legalDoc" ></div>
    
    <div class="modal-footer" ng-if="mustAgree">
      <div class="control-group">
        <div class="control-section" style="float:right;">
          <div class="controls modal-submit" style="padding-right:.5rem;">
            <button ng-if="mustAgree" ng-click="reject()" type="submit" class="btn btn-danger">Reject  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              <button ng-if="mustAgree" ng-click="agree()" type="submit" class="btn btn-success" id="dismissAbout">Agree  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal-footer" ng-if="!mustAgree">
  <div class="control-group">
    <div class="control-section" style="float:right;">
      <div class="controls modal-submit" style="padding-right:.5rem;">
        <input ng-click="dismiss()" type="submit" class="btn btn-default" id="dismissAbout" value="Dismiss" />
      </div>
    </div>
  </div>
</div>