<div>
    <div class="modal-header">
        <h3>History for {{title}}</h3>
    </div>
    <div class="modal-body scrollable-modal-body">

        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-4">
                <h4 style="display: inline-block">Filter by:</h4>
                <span class="btn-group-wrap">
                    <span class="btn-group cb-btn-menu">
                        <button ng-click="changeFilterType(filterTypes.TIMESTAMP)" class="cb-menu-btn btn btn-default"
                                ng-class="{active: filterType === filterTypes.TIMESTAMP}">Timestamp</button>
                        <button ng-click="changeFilterType(filterTypes.TIMEFRAME)" class="cb-menu-btn btn btn-default"
                                ng-class="{active: filterType === filterTypes.TIMEFRAME}">Timeframe</button>
                    </span>
                </span>
            </div>
        </div>

        <div class="row" ng-show="filterType === filterTypes.TIMESTAMP">

            <div class="form-inline text-center">

                <div class="well" style="display:inline-block">

                <div class="form-group">

                    <label for="sinceDate">Since</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="sinceDate" uib-datepicker-popup="dd-MMMM-yyyy"
                               ng-model="params.since.day"
                               is-open="isOpen.since"/>
                        <div class="btn btn-default input-group-addon" ng-click="open($event, 'since')">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </div>
                    </div>

                </div>

                <div class="form-group">

                    <uib-timepicker ng-model="params.since.time" class="cb-timepicker"
                                    style="margin-left:auto; margin-right:auto;"></uib-timepicker>

                </div>

                </div>

                <div class="well" style="display:inline-block">

                <div class="form-group">

                    <label for="historyCount">Count <sub>(0 for all)</sub></label>
                    <input ng-model="params.count" type="text" class="form-control msgHistoryCount" id="historyCount">

                </div>

                </div>

                <div class="form-group">

                    <button ng-click="getMessageHistory()" class="btn btn-success">Fetch</button>
                    <button ng-click="deleteMessageHistory()" class="btn btn-danger">Delete</button>

                </div>

            </div>

        </div>

        <div class="row" ng-show="filterType === filterTypes.TIMEFRAME">

            <div class="form-inline text-center">

                <div class="well" style="display:inline-block">

                    <div class="form-group">

                        <label for="startDate">Start</label>
                        <div class="input-group">

                            <input type="text" class="form-control" id="startDate" uib-datepicker-popup="dd-MMMM-yyyy"
                                   ng-model="params.start.day"
                                   is-open="isOpen.start"/>
                            <div class="btn btn-default input-group-addon" ng-click="open($event, 'start')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">

                        <uib-timepicker ng-model="params.start.time" class="cb-timepicker"
                                        style="margin-left:auto; margin-right:auto;"></uib-timepicker>

                    </div>

                </div>

                <div class="well" style="display:inline-block">

                    <div class="form-group">

                        <label for="stopDate">Stop</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="stopDate" uib-datepicker-popup="dd-MMMM-yyyy"
                                   ng-model="params.stop.day"
                                   is-open="isOpen.stop"/>
                            <div class="btn btn-default input-group-addon" ng-click="open($event, 'stop')">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">

                        <uib-timepicker ng-model="params.stop.time" class="cb-timepicker"
                                        style="margin-left:auto; margin-right:auto;"></uib-timepicker>

                    </div>
                </div>

                <div class="well" style="display:inline-block">

                <div class="form-group">

                    <label for="historyCount">Count <sub>(0 for all)</sub></label>
                    <input ng-model="params.count" type="text" class="form-control msgHistoryCount" id="historyCount">

                </div>

                </div>

                <div class="form-group">

                    <button ng-click="getMessageHistory()" class="btn btn-success">Fetch</button>
                    <button ng-click="deleteMessageHistory()" class="btn btn-danger">Delete</button>

                </div>

            </div>

        </div>

        <div ui-grid="messageHistoryOptions" class="gridStyle"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
</div>
