<form ng-submit="createThing()" name="createForm">
    <div class="modal-header">
        <h2>{{options.allowPlugins ? 'Create Portal or Plugin' : 'Create Portal'}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group" ng-show="options.allowPlugins">
              <label class="col-sm-3">Select Type: </label>
                <div class="col-sm-9">
                    <select class="form-control" type="text" ng-model="thingLabel"
                            ng-options="thingLabel as thingLabel for (thingLabel, class) in things" ng-change="switchThingType(thingLabel)"
                            name="dashName" placeholder="Alphanumeric Name" required></select>
                </div>
            </div>
            <div ng-switch="thingLabel">

                <div ng-switch-when="Portal">
                    <div class="form-group">
                        <label class="col-sm-3">Name: </label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" ng-model="thing[dashboardConstants.NAME]"
                                   name="dashName" placeholder="Alphanumeric Name" autofocus required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Portal Type: </label>
                        <div class="col-sm-9">
                            <select class="form-control" ng-model="thing[dashboardConstants.TYPE]">
                                <option value="{{dashboardConstants.KNOWN_TYPES.CUSTOM}}">Custom</option>
                                <option value="{{dashboardConstants.KNOWN_TYPES.EDGE_MONITORING}}">Edge Monitoring</option>
                                <option value="{{dashboardConstants.KNOWN_TYPES.CLONE}}">Clone Existing Portal</option>
                            </select>
                        </div>
                    </div>
                    <div ng-switch="thing[dashboardConstants.TYPE]">
                    <div class="form-group">
                        <label class="col-sm-3">Version: </label>
                        <div class="col-sm-9">
                            <select class="form-control" ng-model="thing[dashboardConstants.VERSION]" ng-change="onVersionChange()">
                                <option value="{{dashboardConstants.KNOWN_VERSIONS.V2}}">Version 2</option>
                                <option value="{{dashboardConstants.KNOWN_VERSIONS.V1}}">Version 1</option>
                            </select>
                        </div>
                    </div>

                      <div ng-switch-when="clone">
                        <div class="form-group">
                          <label class="col-sm-3">Portal: </label>
                          <div class="col-sm-9">
                            <select class="form-control" type="text" ng-model="selectedClone.value" ng-options="cloneListLabel as cloneListLabel disable when val === 'disabled' for (cloneListLabel, val) in cloneList" required>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea class="form-control" type="textarea"
                                      ng-model="thing[dashboardConstants.DESCRIPTION]"
                                      name="dashDesc" placeholder="Description"></textarea>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="Plugin">

                    <div class="form-group">
                        <label class="col-sm-3">Name: </label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" ng-model="thing[pluginConstants.NAME]"
                                   name="dashName" placeholder="Alphanumeric Name" autofocus required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">URL: </label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text"
                                   ng-model="thing[pluginConstants.URL]"
                                   name="dashDesc" placeholder="URL for plugin"/>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Create" ng-disabled="createForm.$invalid"
               class="btn btn-success cb-padding"/>
        <button ng-click="cancel()" class="btn btn-default cb-padding">Cancel</button>
    </div>
</form>
