<form name="systemForm" ng-submit="saveSystem(system)" class="form-horizontal">

    <div class="modal-header">
        <div class="row">
             <h3>{{system.cachedState[consoleConstants.external.SYSTEM_NAME]}} <span ng-if="system.isEdge">(EDGE)</span></h3>
            <div class="cb-modal-action">
                <span ng-click="deleteSystem()" class="clickable feedback glyphicon glyphicon-trash cb-standardIconSize"></span>
            </div>
        </div>
        <div class="row">
            <div class="btn-group-wrap">
                <div class="btn-group cb-btn-menu">
                    <button class="btn btn-default cb-menu-btn" ng-class="{active: section=='properties'}"
                            ng-click="changeSection($event, 'properties')">
                        Properties
                    </button>
                    <button class="btn btn-default cb-menu-btn" ng-class="{active: section=='config'}"
                            ng-click="changeSection($event, 'config')" ng-if="system.isEdge">
                        Config
                    </button>
                    <button class="btn btn-default cb-menu-btn" ng-class="{active: section=='access'}"
                            ng-click="changeSection($event, 'access')" ng-if="!system.isEdge">
                        Access
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body scrollable-modal-body">
        <div class="container-fluid" ng-if="section === 'properties'">
            <strong class="errorMessage">{{errorMessage}}</strong>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    <span ng-if="!system.isEdge">System Name:</span>
                    <span ng-if="system.isEdge">Edge Name:</span>
                </label>
                <div class="col-sm-9">
                    <div ng-switch="system.isEdge">
                        <input ng-switch-when="false"
                               ng-model="system.cachedState[consoleConstants.external.SYSTEM_NAME]"
                               placeholder="Alphanumeric name" type="text" required
                               name="systemName" class="form-control"/>
                    <input ng-switch-when="true" ng-model="system.cachedState[consoleConstants.external.SYSTEM_NAME]" class="form-control" readonly/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Description:</label>
                <div class="col-sm-9">
                    <textarea ng-model="system.cachedState[consoleConstants.external.SYSTEM_DESCRIPTION]" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group" ng-if="!system.isEdge">
                <label class="col-sm-3 control-label">User Session Token TTL (seconds):</label>
                <div class="col-sm-9">
                    <input required ng-model="system.cachedState[consoleConstants.external.TOKEN_TTL]" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">System Key:</label>
                <div class="col-sm-9">
                    <cb-copy target="{{system.getSystemKey()}}"></cb-copy>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">System Secret:</label>

                <div class="col-sm-9">
                    <cb-copy target="{{system.getSystemSecret()}}">
                        <span class="input-group-addon clickable feedback" ng-click="generateSecret($event)"><span class="glyphicon glyphicon-refresh clickable feedback"></span></span>
                    </cb-copy>
                </div>
            </div>

            <div ng-if="system.isEdge">
                <div class="form-group">
                        <label class="col-sm-3 control-label">Token</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon clickable feedback" ng-click="generateDeviceToken($event)">Generate <span class="glyphicon glyphicon-random" aria-hidden="true"></span></span>
                                <input class="form-control" type="text" required ng-model="system[consoleConstants.external.EDGE.TOKEN]"/>
                            </div>
                        </div>
                    </div>
                <div class="form-group" ng-if="!isNew">
                    <label class="col-sm-3 control-label"> {{consoleConstants.internal.EDGE.LABELS.CONNECTED}}</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" readonly ng-disabled="true" ng-model="system[consoleConstants.external.EDGE.CONNECTED]" placeholder="Connection"/>
                    </div>
                </div>

                <div class="form-group" ng-if="!isNew">
                    <label class="col-sm-3 control-label">Version</label>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" readonly ng-disabled="true" ng-model="system[consoleConstants.external.EDGE.VERSION]"/>
                    </div>
                    <div class="col-sm-6">
                        <div class="alert-warning" ng-show="!isPreferedVersion()">
                          <div><strong>Warning!</strong> Deprecated Version </div>
                          <div>Version {{edgeDisabledVersions.preferedEdgeVersion}} recommended</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid" ng-if="section === 'access'">
            <access-selector system="system.cachedState" access-settings="accessSettings" edge-blacklist="edgeDisabledVersions"></access-selector>
            <override-service-selector-form system="system.cachedState"></override-service-selector-form>
        </div>

        <div class="container-fluid" ng-if="section === 'config'">
            <edge-config system="system.cachedState" versions="edgeDisabledVersions"></edge-config>
        </div>

    </div>

    <div class="modal-footer">
        <div class="controls modal-submit">
            <input type="submit" class="btn btn-success cb-padding" value="Save"
                   ng-disabled="systemForm.$invalid">
            <input type="button" class="btn btn-default cb-padding" ng-click="close()" value="Cancel">
        </div>
    </div>

</form>