<div class="modal-header">
    <div class="row">
        <h2>{{timer.name}}'s Settings</h2>
        <div class="cb-modal-action">
            <span ng-click="exportTimer()" class="clickable feedback glyphicon glyphicon-export cb-standardIconSize"></span>
        </div>
    </div>
</div>

<div class="modal-body">
    <div class="form-horizontal">
        <div class="row" style="margin-top:10px">
            <label class="col-sm-4 col-sm-offset-2">Deploy on Platform</label>
            <div class="col-sm-6">
                <input ng-model="control.deployOnPlatform" type="checkbox" />
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-secondary" ng-click="close()">Cancel</button>
    <button class="btn btn-primary" ng-click="update()">Update</button>
</div>