<div class="modal-header">
  <div class="row">
    <h2>{{userName}}'s Settings</h2>
    <div class="cb-modal-action">
      <span ng-click="exportUser()" class="clickable feedback glyphicon glyphicon-export cb-standardIconSize"></span>
    </div>
  </div>
  <div class="row">
    <div class="btn-group-wrap">
      <div class="btn-group cb-btn-menu">
        <button class="btn btn-default cb-menu-btn" ng-class="{active: section=='security'}" ng-click="changeSection('security')">
          Security
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal-body scrollable-modal-body" id="blockModal">
  <div ng-if="section==='security'">
    <div ng-repeat="roleId in userRoles track by $index">
      <i class="glyphicon glyphicon-remove" style="cursor: pointer" ng-click="removeRole(roleId)"></i> {{getRoleName(roleId)}}
      <br>
    </div>
    <div class="errorMessage"> {{errorMessage}} </div>
    <div>Add Role:</div>
    <div class="row-fluid">
      <div class="span6">
        <select ng-model="newRole" ng-options="role.name for role in allRoles" ng-change="validateRole(newRole)" style="width:220px;background-position:198px 5px">
        </select>
      </div>
      <div class="span6">
        <button class="btn btn-success" ng-click="addRole(newRole.id)" ng-disabled="isRoleEmpty(newRole) || userHasRole">
          Add Role
        </button>
      </div>
    </div>
  </div>
  <div ng-if="section==='deploy'">
    <div>
      <deploy-list resource-type="'user'" resource-id="userName"></deploy-list>
    </div>
  </div>
  <div ng-if="section==='sync'">
    <div>
      <sync-list resource-type="'user'" resource-id="userName"></sync-list>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">Close</button>
</div>