<div class="container-fluid cb-page">
    <div class="container-fluid">

        <div class="collections-controls">

            <span ng-click="editDev()" class="collection-ctrl clickable" style="left: 10px;position: relative;">
                Edit
            </span>

        </div>

        <div class="row-fluid grid-row" id="blockDeveloperGrid">
            <div class="span-12">
                <div ui-grid="developerGridOptions" ui-grid-pagination ui-grid-resize-columns ui-grid-edit
                     ui-grid-selection class="gridStyle collection-grid"></div>
            </div>

        </div>
        <div> Number of Developers: {{ numberOfDevelopers }}</div>
    </div>
</div>